services:
  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: r5a05
      MYSQL_USER: maxence
      MYSQL_PASSWORD: passwordR5A05
    volumes:
      - db:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  db: